*.gitkeep
!.gitkeep
.env
node_modules
dist
*.7z
37_v2.png
error.txt
install.txt
node_pid.txt
numbers.txt
output.png
package-lock.json
pm2_error.log

# Ignore everything in these directories
debug/*
state/*
logs/*

# Unignore all subdirectories (so Git can traverse into them)
!debug/**/
!state/**/
!logs/**/

# Include .gitkeep files in these directories and their subdirectories
!debug/**/.gitkeep
!state/**/.gitkeep
!logs/**/.gitkeep